includes:
    - vendor/narrowspark/coding-standard/base_rules.neon

parameters:
    paths:
        - ./src

    autoload_directories:
        - ./src

    ignoreErrors:
        -
            message: "#^Interface Narrowspark\\\\SecurityAdvisories\\\\Contract\\\\Provider should end with \"Interface\" suffix\\.$#"
            count: 1
            path: src/Contract/Provider.php
